In [91]:
import pandas as pd

In [92]:
df_terms = pd.read_excel('./data/Глоссарий.xlsx', sheet_name='Термины и определения', usecols='A,B')
df_terms = df_terms.dropna(subset=['Термин'])

In [93]:
def format_row(row):
    # Check if 'Определение' is NaN; if so, assign it the value of 'Термин'
    if pd.isna(row['Определение']):
        definition = row['Термин']
    else:
        definition = row['Определение']
    
    return (
        f"##Term: {row['Термин']}\n"
        f"##Definition: {definition}\n\n"
    )

In [94]:
formatted_strings = df_terms.apply(format_row, axis=1)

In [95]:
context = formatted_strings.sum()

In [96]:
with open('./data/terms&defs.txt', 'w', encoding='utf-8') as file:
    file.write(context)

In [97]:
df_terms = pd.read_excel('./data/Глоссарий.xlsx', sheet_name='Краткие обозначения', usecols='A,C')
df_terms = df_terms.dropna(subset=['Аббревиатура'])

In [98]:
df_terms.head()

   Аббревиатура                                        Расшифровка
0        1С:УХ         информационная система Управление Холдингом
1        1С:CRM           система для менеджмента бизнес-процессов
2  CRM, DocFlow          система для менеджмента бизнес-процессов
3           DF                                          1C:Docflow
4           HCV  грузовые автомобили, имеющие полную массу свыш...

In [99]:
def format_row(row):
    # Check if 'Определение' is NaN; if so, assign it the value of 'Термин'
    if pd.isna(row['Расшифровка']):
        definition = row['Аббревиатура']
    else:
        definition = row['Расшифровка']
    
    return (
        f"##Term: {row['Аббревиатура']}\n"
        f"##Definition: {definition}\n\n"
    )

In [100]:
formatted_strings = df_terms.apply(format_row, axis=1)

In [101]:
context = formatted_strings.sum()

In [102]:
with open('./data/abbreviations.txt', 'w', encoding='utf-8') as file:
    file.write(context)

In [103]:
df_terms = pd.read_excel('./data/Глоссарий.xlsx', sheet_name='Подразделения', usecols='A,B')
df_terms = df_terms.dropna(subset=['Аббревиатура'])

In [104]:
df_terms.head()

                                 Подразделение Аббревиатура
0                                  Интерлизинг           ИЛ
1                            Коммерческий блок           КБ
2  Группа по работе с поставщиками и агентами           ГРП
3                    Группа партнерских продаж          ГПП
4                     Отдел организации продаж          ООП

In [105]:
def format_row(row):
    # Check if 'Определение' is NaN; if so, assign it the value of 'Термин'
    if pd.isna(row['Аббревиатура']):
        definition = row['Аббревиатура']
    else:
        definition = row['Подразделение']
    
    return (
        f"##Term: {row['Аббревиатура']}\n"
        f"##Definition: {definition}\n\n"
    )

In [106]:
formatted_strings = df_terms.apply(format_row, axis=1)

In [107]:
context = formatted_strings.sum()

In [108]:
with open('./data/departments.txt', 'w', encoding='utf-8') as file:
    file.write(context)